body{
font-family:Arial;
background:linear-gradient(135deg,#1e1e2f,#111);
margin:0;
color:white;
}

header{
background:#151528;
padding:15px;
display:flex;
justify-content:space-between;
}

.container{
width:420px;
margin:auto;
padding:10px;
}

input{
padding:10px;
margin:5px 0;
width:100%;
border:none;
border-radius:8px;
background:#222;
color:white;
}

button{
padding:10px;
border:none;
border-radius:8px;
background:linear-gradient(45deg,#4facfe,#00f2fe);
color:white;
font-weight:bold;
cursor:pointer;
}

.profile{
background:#1c1c2e;
padding:15px;
border-radius:12px;
text-align:center;
margin-top:10px;
}

.avatar{
width:90px;
height:90px;
border-radius:50%;
border:3px solid #4facfe;
object-fit:cover;
}

.post{
background:#1c1c2e;
border-radius:12px;
padding:10px;
margin-top:12px;
}

.post img{
width:100%;
border-radius:10px;
}

.like{
color:#ff4d6d;
cursor:pointer;
font-weight:bold;
}

.comment{
font-size:14px;
margin-top:4px;
color:#ccc;
}